// Custom styles.

body {
	background:url(/images/42svg.svg), linear-gradient(#68B5FB, #FDB94C);
	//background: #20ABFF;
	//background: rgba(255,255,255,0.7);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-o-backgound-size: cover;
	-moz-backgound-size: cover;
	-ms-backgound-size: cover;
	
	#footer > div > div {
		color:#eee;
	}
}