// Custom styles.
body {
	background:url(/images/shuimo1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-o-backgound-size: cover;
	-moz-backgound-size: cover;
	-ms-backgound-size: cover;
	
	#footer > div > div {
		color:#eee;
	}
}