@import "_layout";
@import "_brand";
@import "_menu";
@import "_sub-menu";
@import "_sidebar";
@import "_posts";

.post-block {
	padding: 30px 30px 20px 30px;
	//$content-desktop-padding;
	background: grba(255, 255, 255, 0.8);
	box-shadow: 1px 1px 5px #888888;
	//$box-shadow-inner;
	border-radius: $border-radius-inner;
}