@import "_layout";
@import "_brand";
@import "_menu";
@import "_sub-menu";
@import "_sidebar";
@import "_posts";

.post-block {
	padding: $content-desktop-padding;
	background: grba(255, 255, 255, 0.8);
	box-shadow: $box-shadow-inner;
	border-radius: $border-radius-inner;
}